<%- contentFor('body') %>
<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 list_pro">
                <h4 class="title upper bold">Produtos</h4>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-3 product_item">
                        <div class="preview">
                            <img src="http://via.placeholder.com/350x150" alt="" class="img-responsive">
                        </div>
                        <div class="info">
                            <a href="#">Item 1</a>
                            <div class="price">
                                <strong>R$ 10,00</strong>
                                <a href="#" class="btn btn-red-default">Detalhes</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-3 product_item">
                        <div class="preview">
                            <img src="http://via.placeholder.com/350x150" alt="" class="img-responsive">
                        </div>
                        <div class="info">
                            <a href="#">Item 2</a>
                            <div class="price">
                                <strong>R$ 10,00</strong>
                                <a href="#" class="btn btn-red-default">Detalhes</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-3 product_item">
                        <div class="preview">
                            <img src="http://via.placeholder.com/350x150" alt="" class="img-responsive">
                        </div>
                        <div class="info">
                            <a href="#">Item 3</a>
                            <div class="price">
                                <strong>R$ 10,00</strong>
                                <a href="#" class="btn btn-red-default">Detalhes</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-3 product_item">
                        <div class="preview">
                            <img src="http://via.placeholder.com/350x150" alt="" class="img-responsive">
                        </div>
                        <div class="info">
                            <a href="#">Item 4</a>
                            <div class="price">
                                <strong>R$ 10,00</strong>
                                <a href="#" class="btn btn-red-default">Detalhes</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-3 product_item">
                        <div class="preview">
                            <img src="http://via.placeholder.com/350x150" alt="" class="img-responsive">
                        </div>
                        <div class="info">
                            <a href="#">Item 5</a>
                            <div class="price">
                                <strong>R$ 10,00</strong>
                                <a href="#" class="btn btn-red-default">Detalhes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>